@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-color: #10598a;
    --secondary-color: #680a9e;
    --contrast-color: #fcf81d;
}

body {
    font-family: 'Cascadia Code', monospace;
    background: linear-gradient(to top, black, rgb(39, 39, 39));
}

header {
    background-color: rgb(71, 71, 71);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.562);
}

img.rounded-circle {
    width: 150px;
    height: 150px;
    margin-left: 20vw;
    margin-top: 20px;
}

h1, h2, h5 {
    color: black;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
    color: white;
}

a.btn.btn-lg.px-5.py-3.fs-2 {
    background-color: var(--main-color);
    color: white;
}

a.btn.btn-lg.px-5.py-3.fs-2:hover {
    background-color: var(--secondary-color) !important;
    color: black;
    transition: transform 0.3s ease;
    transform: scale(1.03);
}

p.card-text {
    color: black;
}

.card {
    width: 18rem;
    background-color: var(--main-color);
    color: black;
    will-change: transform;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    background-color: var(--secondary-color);
    transform: scale(1.03);
}

div.modal-body > p {
    font-size: 1.2rem;
    color: black;
}

a, .lead, .btn-link {
    color: black;
    font-weight: 700;
}

a:hover, .btn-link:hover {
    color: var(--contrast-color);
}

footer {
    background-color: rgba(57, 34, 110, 0.678);
    color: black;
}